.layout{
    background:#EEE;
    // position: fixed;
    // width: 100%;
    // margin: 0 auto;
    // left: 0;
    // bottom: 0px;
    // padding: 0 5%;
    // padding: 10px 0;
    // .layout-icon{
    //     text-align: center;
    //     display: inline-block;
    //     width: 30%;
    // }
    
}
.show{
    display: block;
}
.hide{
    display: none;
}