.user{
    padding: 10px 15px;
    color: #333;
    .user-card{
        box-sizing: border-box;
        padding: 15px;
        font-size: 30px;
        background-color: #FFF;
        border-radius: 8px;
        box-shadow: #ccc 8px 8px 8px;
    }
    .user-card2{
        margin-top: 15px;
    }
    .card1{
        display: flex;
        height: 120px;
        position: relative;
        border-bottom: 1px solid #eee;
        .user-icon{
            margin-right: 20px;
        }
        .user-name, .user-id{
            height: 60px;
            line-height: 60px;
            button{
                height: 60px;
                line-height: 60px;
                font-size: 30px;
                outline: none;
                margin: 0;
                padding: 0;
                border: none;
                background-color: #fff;
            }
            button::after {
                border: none;
              }
        }
        .user-id{
            margin-top: -20px;
        }
        .change-info{
            position: absolute;
            top: 50%;
            margin-top: -25px;
            right: 20px;
        }
        .user-too-bar{
            margin-top: 20px;
            text-align: center;
        }
    }
    .card2{
        border-bottom: unset;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 50px;
    }
    .more-warp{
        position: relative;
        display: flex;
        padding: 20px 0;
        border-bottom: 1px solid #eee;
    }
    
    .right{
        position: absolute;
        right: 30px;
    }
    .more-text{
        margin-left: 30px;
    }
    .no-border{
        border: unset;
    }
    .user-infos{
        margin-left: 20px;
    }
    .user-infos-unlogin{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .show{
        display: block;
    }
    .hide{
        display: none;
    }
}